<a href="https://colab.research.google.com/github/Tanuka-Mondal/Vat-Python/blob/main/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
var break
break = 5

SyntaxError: ignored

In [1]:
birthYear = int(input("Enter your birth year= "))
currentYear = int(input("Enter current year= "))
age = currentYear-birthYear
print("age= "+str(age))

Enter your birth year= 2001
Enter current year= 2021
age= 20

In [2]:
firstName = str(input("Enter your first name= "))
middleName = str(input("Enter your middle name= "))
lastName = str(input("Enter your last name= "))

fullname = firstName+ " " + middleName + " " + lastName

print(fullname)

Enter your first name= Tanuka
Enter your middle name=
Enter your last name= Mondal
Tanuka  Mondal

In [13]:
length = float(input("Enter the length of the field: "))
width = float(input("Enter the width of the field: "))
area = length*width
print("area of the field is: " + str(area) + " square meter")

Enter the length of the field: 92
Enter the width of the field: 48.8
area of the field is: 4489.599999999999 square meter

In [11]:
Packet = 9
Cost = 1.49
Total = Packet*Cost
Given = 20
MoneyReturn = Given - Total
print(MoneyReturn,"dollar")

6.59 dollar

In [12]:
length = 5.5
area = length**2
cost = area*500
print(cost,"rs")

15125.0 rs