<a href="https://colab.research.google.com/github/Tanuka-Mondal/Vat-Python/blob/main/day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
s02 = {1,2,3,4,5,6,7,8,9}
s02.discard(6)
s02

{1, 2, 3, 4, 5, 7, 8, 9}

In [8]:
s02 = {1,2,3,4,5,6,7,8,9}
s02.discard(10)
s02

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [1]:
s03 = {1,2,3,4,5,6,7,8,9}
s03.remove(6)
s03

{1, 2, 3, 4, 5, 7, 8, 9}

In [2]:
s03 = {1,2,3,4,5,6,7,8,9}
s03.remove(10)
s03

KeyError: ignored

In [5]:
s03 = {'a',1,2,3,4,5,6,7,8,9}
d = s03.pop()
print(s03)
d

{2, 3, 4, 5, 6, 7, 8, 9, 'a'}

1

In [9]:
s04 = {4,6,7}
s04.clear()
s04

set()

In [10]:
l = [7,8,9]
s = set(l)
s

{7, 8, 9}

In [11]:
s01 = {"sky","water","fire"}
l = ["red","yellow","blue"]
s02 = set(l)
s01.update(s02)
s01

{'blue', 'fire', 'red', 'sky', 'water', 'yellow'}

In [16]:
s01 = {10,20,30,40,50}
s02 = {30,40,50,60,70}
(s01&s02)

{30, 40, 50}

In [19]:
s01 = {10,20,30,60}
s02 = {20,40,50,70}
(s01-s02)

{10, 30, 60}

In [26]:
s1 = input("Enter a string: ")
s2 = input("Enter another string: ")
s01 = set(s1)
s02 = set(s2)
s03 = "".join(s01^s02)
s03

Enter a string: monkey
Enter another string: mangoe

'agyk'

In [31]:
l1 = [10,5,7,6,9]
l2 = [3,5,6,1,9]
l3 = [5,1,6,90]
s1 = set(l1)
s2 = set(l2)
s3 = set(l3)

new = (s1&s2&s3)
newlist = list(new)
newlist

[5, 6]

In [34]:
vowelSet = set("AaEeIiOoUu")
s = input("String: ")
c = 0
for i in s:
        if i in vowelSet:
            c += 1
      
print("Vowel:", c)

String: Hi Everyone
Vowel: 5

In [48]:
s1 = input("String: ")
s01 = set(s1)
l1 = list(s1)
print(l1)
if len(l1)==len(s01):
  print("No duplicate characters")
else:
  print("Duplicate character contains")

String: hello world
['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
Duplicate character contains

In [59]:
s1 = "hello world"
dup = {}

for char in s1:
   if char in dup:
      dup[char] += 1 
   else:
      dup[char] = 1
for key, value in dup.items():
   if value > 1:
      print(key, end = " ")
print()

l o

In [61]:
d1 = {'name':'John','age':5,'school':'ABC'}
print(d1['name'])
print(d1['age'])
print(d1['school'])

John
5
ABC

In [62]:
d1 = {'name':'John','age':5,'school':'ABC'}
d1['school'] = 'XYZ'
d1

{'age': 5, 'name': 'John', 'school': 'XYZ'}

In [65]:
d1['adress'] = 'Kolkata'
d1

{'adress': 'Kolkata', 'age': 5, 'name': 'John', 'school': 'ABC'}